apiVersion: v1
kind: Pod
metadata:
  name: collector
spec:
  containers:
  - name: collector
    image: localhost/collector:1.0.0
    imagePullPolicy: IfNotPresent
    resources:
      limits:
        ephemeral-storage: "1Gi"